.cake-item{
    background-image: url('https://cdn.shopify.com/s/files/1/1284/6493/files/icon_wrapper_bg.png?v=1530960319');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: #ff7380;
    width: 90%;
    height: auto;
}